@media (max-width: 768px) {
  .cardWrapper {
    flex-direction: column;
    margin-top: 1.5rem !important;
  }
  .tabs div {
    gap: 10px;
  }
  .tabs h3 {
    font-size: 14px;
  }
  .tabs img {
    max-width: 40px;
  }
  .contentWrapper {
    min-height: 60% !important;
  }
  .gameList {
    height: 6rem !important;
  }
}

@media (max-height: 550px) {
  .cardWrapper {
    margin-top: 1rem !important;
  }
  .contentWrapper {
    margin-top: 1rem !important;
  }
  .gameList {
    gap: 40px !important;
  }
}
